[Unit]
Description=HashiCorp Vault Service

[Service]
ExecStart=/usr/local/bin/vault server -config=/etc/vault.d/vault.hcl

[Install]
WantedBy=multi-user.target
